@use '../abstracts/' as *;

.hero-select {
  display: flex;
  flex-direction: row;
  div {
    @include margin-sides($margin-half);
    &:hover {
      cursor: pointer;
    }
  }
}

.image-primary {
  @include dimensions(30vh, 50%);
  min-height: calc(780px * 0.45);
}

.image-primary {
  @include flex-col();
  @include justify-align(flex-start, center);

  .image {
    margin-top: $margin-half;
    @include push-auto;

    @include egg(sm);

    background-image: linear-gradient(
      135deg,
      #8bc6ec 0%,
      #9599e2 100%
    );
    background-size: cover;

    @include shadow(2);
  }
}
