@use '../abstracts/' as *;

.nav-root {
  @include dimensions(80px, 100%);
  background: rgb(24, 144, 255);
  background: linear-gradient(
    135deg,
    rgba(24, 144, 255, 1) 0%,
    rgba(47, 84, 235, 1) 80%
  );
  color: rgb(255, 255, 255);

  .container {
    height: 100%;
    @include flex-row;
    @include justify-align(space-between);
    max-width: $max-width-global;
    @include push-auto;
  }
  .sub-container {
    @include text-size($h4);
    @include flex-row;
    div {
      margin-right: $margin-global;
    }
  }
  .title {
    @include text-size($h2);
    margin-left: $margin-global;
  }
}
