@use './abstracts/' as *;
@use './partials/' as *;

.main-root {
  flex: 1 0 auto;
  @include border();
  width: 100vw;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.main-header-container {
  width: 100%;
  max-width: $max-width-global;
  @include push-auto;
  @include flex-row();
  @include justify-align(space-between, center);

  div {
    @include push-auto;
    margin-top: $margin-global;
    margin-bottom: $margin-half;
    @include text-size($h3);
    text-align: center;
    width: 50%;
  }
}

.main-content-container {
  @include flex-row(wrap);
  @include justify-align(flex-start, flex-start);
  @include push-auto;
  max-width: $max-width-global;
  width: 100%;
}

.image-primary,
.graph-secondary {
  @include dimensions(40vh, 50%);
  min-height: calc(720px * 0.45);
}

.image-primary {
  @include flex-col();
  @include justify-align(flex-start, center);

  .image {
    margin-top: $margin-half;
    @include push-auto;
    // background-image: url('https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/70-batman.jpg');
    background-position: center;
    background-repeat: no-repeat;
    @include egg(sm);
    background-color: black;
    @include shadow(2);
  }
}

.graph-primary {
  @include border($purple);
  @include flex-col();
  @include justify-align(flex-start, flex-end);

  .graph {
    margin-right: $margin-global;
    margin-top: $margin-global;
    @include dimensions(230px, calc(100% - 48px));
  }
}
.image-secondary {
  @include border($yellow);
}
.graph-secondary {
  @include flex-col();
  @include justify-align(center, space-around);
  @include border($green);
  margin-top: $margin-global;
  height: 40vh;
  width: 100vw;
  background-color: $gray-01;
  .graph {
    @include margin-sides(0);
    height: 70%;
    width: calc(100% - 48px);
  }
}
.switch-icon {
  align-self: center;
  margin-bottom: $margin-half;
  cursor: pointer;
}

@include breakpoint-max(xs) {
  .image-primary,
  .graph-primary {
    background-color: $color-accent;
    width: 100%;
    justify-content: center;
    align-items: center;
    .image,
    .image-description,
    .graph {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
